main {
	margin: 1em;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: minmax(100px, auto);
	grid-gap: 1em;
}

.contact {
	background-color: #0047AB;
	color: white;

	grid-column: 4 / 5;
	grid-row: 1 / 2;
}

.contact table {
	margin-top: 1em;
}

.contact td {
	vertical-align: top;
}

.contact p, .contact a {
	font-family: 'CircularStd', sans-serif;
	font-weight: 500;
	color: white;
	text-decoration: none;

	margin: 0;
}

.contact img {
	margin-right: 1em;
}

.card time {
	font-family: 'CircularStd', sans-serif;
	font-weight: 900;
	color: #0047AB;
	margin-bottom: 1em;
}

@media (max-width: 850px) {
	main {
		grid-template-columns: repeat(3, 1fr);
	}

	.contact {
		grid-column: 3 / 4;
	}
}

@media (max-width: 750px) {
	main {
		grid-template-columns: repeat(2, 1fr);
	}

	.contact {
		grid-column: 2 / 3;
	}
}

@media (max-width: 600px) {
	.contact {
		grid-column: 1 / 3;
	}
}
