@font-face {
	font-family: "CircularStd";
	src: url("/fonts/CircularStd-Book.woff2") format("woff2"), url("/fonts/CircularStd-Book.woff") format("woff");
	font-weight: 400;
}

@font-face {
	font-family: "CircularStd";
	src: url("/fonts/CircularStd-Medium.woff2") format("woff2"), url("/fonts/CircularStd-Medium.woff") format("woff");
	font-weight: 500;
}

@font-face {
	font-family: "CircularStd";
	src: url("/fonts/CircularStd-Bold.woff2") format("woff2"), url("/fonts/CircularStd-Bold.woff") format("woff");
	font-weight: 700;
}

@font-face {
	font-family: "CircularStd";
	src: url("/fonts/CircularStd-Black.woff2") format("woff2"), url("/fonts/CircularStd-Black.woff") format("woff");
	font-weight: 900;
}

html, body {
	margin: 0;
	padding: 0;
}

header {
	position: relative;
	width: 100%;
	background-color: #0047AB;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

#logo {
	z-index: 2;
}

#logo svg {
	height: 50px;
	margin: 1em;
}

#logo svg .logo {
	fill: #fff;
}

#nav {
	position: absolute;
	right: 0;
	left: 0;
	z-index: 1;
}

#nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

#nav ul li {
	display: inline-block;
}

#nav ul li a {
	color: white;
	margin: 1em;
	text-decoration: none;
	font-family: 'CircularStd', sans-serif;
	font-size: 1.5em;
	font-weight: 900;
}

#social {
	margin-right: 2em;
	z-index: 2;
}

#social a {
	text-decoration: none;
}

#social a svg {
	height: 40px;
}

#social a .background {
	fill: #0047AB;
}

#social a .icon {
	fill: #fff;
}

#social a:hover .background {
	fill: #fff !important;
}

#social a:hover #github .icon {
	fill: #191717;
}

#social a:hover #linkedin .icon {
	fill: #007bb5;
}

#social a:hover #twitter .icon {
	fill: #1da1f2;
}

#social a:hover #facebook .icon {
	fill: #3b5998;
}

.card {
	background-color: white;
	border-radius: 5px;
	margin: 1em;
	padding: 1em;
	box-sizing: border-box;
	box-shadow: 0px 2px 10px 0px rgb(0,0,0,0.16);
	transition: box-shadow 0.2s ease-in-out 0s;
}

.card:hover {
	box-shadow: 0px 5px 20px 0px rgb(0,0,0,0.2);
}

@media (max-width: 850px) {
	html, body {
		height: 100%;
	}

	header {
		height: 100%;
	}

	#logo svg {
		width: auto;
		height: 50vh;
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	#nav {
		bottom: 2em;
	}

	#social a svg {
		display: block;
		height: 60px;
	}
}

@media (max-width: 750px) {
	#logo svg {
		width: 50vw;
	}

	#nav {
		bottom: 7em;
	}

	#social {
		display: flex;
		margin: 0;
		position: absolute;
		left: 50%;
		bottom: 1em;
		top: auto;
		right: auto;
		transform: translateX(-50%);
	}
}
