html, body {
	padding: 0;
	margin: 0;
}

nav {
	height: 60px;
	/*background-color: #005EB8;*/ /* PANTONE 300C */
	background-color: #006EB6; /* PANTONE 300U */
}

nav #logo {
	display: inline-block; /*inline flow-root*/
	height: 100%;
}

nav #logo img {
	height: 40px;
	margin: 10px;
}
