AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript

RewriteEngine On

# Remove file extension and add slash
RewriteRule ^(.*).php$ /$1/ [R=301,L]
RewriteRule ^(.*).html$ /$1/ [R=301,L]

# Force trailing slash
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*)$ /$1/ [R=301,L]

# If the requested file exists with
# the specified extension, show that file
RewriteCond %{DOCUMENT_ROOT}/$1.php -f
RewriteRule ^(.*)/$ $1.php [END]

RewriteCond %{DOCUMENT_ROOT}/$1.html -f
RewriteRule ^(.*)/$ $1.html [END]

# If the requested file is a directory,
# and isn't the root,
# we should return a 404 error
RewriteCond %{REQUEST_FILENAME} -d
RewriteCond $1 !^$
RewriteRule ^(.*)$ - [R=404,L]
