RewriteEngine On

# Remove file extension and add slash
RewriteRule ^(.*).php$ /$1/ [R=301,L]
RewriteRule ^(.*).html$ /$1/ [R=301,L]

# Force trailing slash
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*)$ /$1/ [R=301,L]

# If the requested file exists with
# the specified extension, show that file
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)/$ $1.php [END]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)/$ $1.html [END]
